.car-details-wrapper {
  padding: 30px;
}

.car-details-label {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

.car-details-label > button {
  margin-left: 20px;
}

.car-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
}

.car-details p span {
  font-style: italic;
  font-weight: normal;
}

.car-details p span {
  font-style: italic;
  font-weight: normal;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 10px;
}
