* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6c9a8b;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
  background-color: #fbf7f4;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  width: 300px;
}
form input {
  display: block;
  padding: 10px 15px;
}

.error {
  color: red;
}

p {
  text-align: center;
}

p > i {
  display: inline-block;
  width: 60px;
  height: 12px;
  margin-left: 5px;
  border: 1px solid black;
}

button {
  display: block;
  padding: 5px 10px;
  background-color: #eed2cc;
  cursor: pointer;
}
